/*layout css start form here*/
body{
background: white !important;
}
label{
    font-weight: bolder;
}
nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark {
    background: #cc9fe3 !important;
}

a.navbar-brand.ps-3 {
    color: #ffffff;
    font-weight: bolder;
}
.sb-topnav.navbar-dark #sidebarToggle {
    color: rgb(9 241 38) !important;
    font-size: 33px !important;
}
ul.navbar-nav.ms-auto.ms-md-0.me-3.me-lg-4 {
    display: inline-block !important;
    text-align: right !important;
    width: 100%;
}
ul.navbar-nav.ms-auto.ms-md-0.me-3.me-lg-4 li a img.adminProImg {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-nav-link-icon {
    color: rgb(78 255 57) !important;
}
.sb-sidenav-dark {
    background-color: #c7a2d3 !important;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link {
   color: rgb(78 255 57) !important;
    font-weight: bold;
}

div#collapseLayouts:hover {
    background: white;
    border-left: 7px solid #2700fb;
    cursor: pointer;
    color: green;
    transition: all 2s cubic-bezier(0.11, 1.25, 0.07, 1.29);
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
    color: rgb(124 255 4) !important;
    font-weight: bold;
    font-size: 21px;
}

.sb-sidenav-toggled .toggSpan{
   display: none;
  }  
  .sb-sidenav-toggled .sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-nav-link-icon{
   margin-left:auto;
  } 
  .sb-sidenav-toggled .sb-sidenav-collapse-arrow{
   display: none !important;
  } 
/*layout css end form here*/
/*users page css start form here*/
button.btn.editBtn {
    color: #34b60f;
    font-weight: bold;
    border: 2px solid rgb(76 211 37);
}

button.btn.deleteBtn {
    border: 2px solid #ff4545;
    color: #ff5757;
    font-weight: bold;
}
.cencel{
   background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: white !important;
    font-weight: bolder !important;
}   
.create{
    background: linear-gradient(90deg, rgb(96 255 0) 0%, rgb(97 185 1) 50%, rgb(130 140 215) 100%);
    font-weight: bold !important;
    color: white !important;
}
button.btn.editBtn:hover {
    font-weight: bold;
    background: linear-gradient(90deg, rgb(96 255 0) 0%, rgb(97 185 1) 50%, rgb(130 140 215) 100%);
    color: white !important;
}

button.btn.deleteBtn:hover {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    font-weight: bold;
    color: white;
}
tbody.adminUserTbody td img {
    width: 60px;
    height: 60px;
}
tbody.adminUserTbody td {
    text-align: center;
}
p.pandding {
    background: red;
    color: white;
    font-weight: bold;
    border-radius: 4px;
}
p.approved {
    background: green;
    color: white;
    font-weight: bold;
    border-radius: 4px;
}
tbody.adminUserTbody tr td button {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}
/*users page css end form here*/
/*profile css start form here*/
div.profileContent div.row div div.card.flex-row img {
    width: 300px;
}
/*profile css end form here*/
